# Virtual env
venv/
.env

# Data
data/processed/*
data/raw_pdf/*
# On prends les gitkeep
!data/processed/.gitkeep
!data/raw_pdf/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/